<!DOCTYPE html>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>
      Como Funcionan os preços da gasolina na Madeira | GasoleoToday
    </title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta
      name="keywords"
      content="madeira, gasolina, gasoleo, preços da gasolina, preços do gasoleo, preços da gasolina na Madeira, preços do gasoleo na Madeira"
    />
    <meta name="description" content="Preços da gasolina na Madeira." />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <noscript>
      <link rel="stylesheet" href="assets/css/noscript.css"
    /></noscript>
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <!-- Note: The "styleN" class below should match that of the banner element. -->
      <header id="header" class="alt style2">
        <a href="/" class="logo"><strong>GasoleoToday</strong></a>
      </header>
      <!-- Banner -->
      <!-- Note: The "styleN" class below should match that of the header element. -->
      <section id="banner" class="style2">
        <div class="inner">
          <header class="major">
            <h1>Como Funciona</h1>
          </header>
          <div class="content">
            <p>
              Saiba como obtemos a nossa data.
            </p>
          </div>
        </div>
      </section>

      <!-- Main -->
      <div id="main">
        <!-- One -->
        <section id="one">
          <div class="inner">
            <header class="major">
              <h2>Com que frequência mudam os preços?</h2>
            </header>
            <p>
              Todas as semanas o preço do combustível é avaliado na Madeira e a
              partir da meia-noite de domingo o preço diminui ou aumenta. Uma
              das vantagens deste sistema é que o preço é o mesmo em todas as
              opções, então você não precisa procurar por um preço melhor.
            </p>
            <p>
              Cada <strong>Sexta-feira</strong> são publicados no JORAM (Jornal
              Oficial da Região Autónoma da Madeira) os preços para a próxima
              semana.
            </p>
          </div>
        </section>

        <!-- Two -->
        <section id="two" class="spotlights">
          <section>
            <a class="image">
              <img
                src="images/ram.jpg"
                alt="Assembleia Legislativa da Região Autónoma da Madeira"
                data-position="center center"
              />
            </a>
            <div class="content">
              <div class="inner">
                <header class="major">
                  <h3>Porque?</h3>
                </header>
                <p>
                  Esta foi uma decisão tomada pelo Governo Regional para acabar
                  com a liberalização dos combustíveis, seguindo o modelo que já
                  estava em vigor nos Açores. A medida de fixação administrativa
                  dos preços foi justificada no dia 31 de Julho de 2008 pelo
                  presidente do Governo Regional, Alberto João Jardim, com a
                  'atitude colonial' da Galp.
                </p>
                <ul class="actions">
                  <li>
                    <a
                      href="https://www.dnoticias.pt/impressa/hemeroteca/diario-de-noticias/88502-governo-regional-impoe-preco-dos-combustiveis-FDDN88502"
                      class="button"
                      target="_blank"
                      >Ver Mais</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <section>
            <a class="image">
              <img
                src="images/ajj.jpg"
                alt="Alberto João Jardim"
                data-position="top center"
              />
            </a>
            <div class="content">
              <div class="inner">
                <header class="major">
                  <h3>Controvérsia</h3>
                </header>
                <p>
                  "Quem não cumprir, vai pagar multa e quem recusar pagá-la vai
                  para tribunal", disse Jardim. Para o lider madeirense, o fim
                  da liberalização dos combustíveis é uma consequência directa
                  da atitude da Galp, que recusou o pedido do Governo Regional
                  para acompanhar a flutuação dos preços na Madeira e da mesma
                  maneira e ao mesmo tempo que a empresa fazia no Continente uma
                  atitude "colonial", diz Alberto João Jardim no dia 1 de Agosto
                  de 2008.
                </p>
                <ul class="actions">
                  <li>
                    <a
                      href="https://www.dn.pt/dossiers/economia/crise-dos-combustiveis/noticias/madeira-nacionaliza-precos-da-gasolina-978916.html"
                      class="button"
                      target="_blank"
                      >Ver Mais</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <section>
            <a class="image">
              <img src="images/galp.jpg" alt="Galp" data-position="25% 25%" />
            </a>
            <div class="content">
              <div class="inner">
                <header class="major">
                  <h3>Reação</h3>
                </header>
                <p>
                  A Galp afastou a descida "porque os combustíveis que estão aí
                  ainda foram a um preço anterior". Jardim argumenta que esta
                  lógica não foi utilizada quando o ciclo era de subida e, por
                  isso, diz, "tivemos de ir para preços administrativos até que
                  o mercado esteja novamente reequilibrado". Por seu turno, a
                  directora regional de Energia da Madeira, Isabel Catarino
                  Rodrigues, justificou esta medida ao DN da Madeira com a
                  necessidade de travar a instabilidade dos preços e pelo facto
                  de a liberalização não se estava a mostrar eficaz na região.
                </p>
              </div>
            </div>
          </section>
        </section>
      </div>

      <!-- Contact -->
      <section id="contact">
        <div class="inner">
          <section class="logo-split">
            <a href="index.html" class="logo-big"
              ><strong>GasoleoToday</strong></a
            >
          </section>
          <section class="split">
            <section>
              <div class="contact-method">
                <span class="icon solid alt fa-envelope"></span>
                <h3>Email</h3>
                <a href="mailto:cpiresdev@gmail.com">cpiresdev@gmail.com</a>
              </div>
            </section>
            <section>
              <div class="contact-method">
                <span class="icon solid alt fa-globe"></span>
                <h3>
                  <a href="https://www.madeira.gov.pt/drett/"
                    >Direção Regional de Economia e Transportes Terrestres</a
                  >
                </h3>
              </div>
            </section>
          </section>
        </div>
      </section>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <ul class="icons">
            <li>
              <a
                href="https://twitter.com/terraextra"
                class="icon brands alt fa-twitter"
                ><span class="label">Twitter</span></a
              >
            </li>
            <li>
              <a
                href="https://github.com/Extraterra1"
                class="icon brands alt fa-github"
                ><span class="label">GitHub</span></a
              >
            </li>
          </ul>
          <ul class="copyright">
            <li>&copy; GasoleoToday</li>
            <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
          </ul>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
